html,
body {
  font-size: 12px;
  margin: 2rem 2.5rem;
}

strong {
  /* font-family: "Forza Bold", "Forza-Bold"; */
  font-family: "VitesseBold", "Vitesse Bold", "Vitesse-Bold";
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.1em 0.25em;
}

em {
  font-family: "Forza Bold Italic", "Forza-BoldItalic";
  font-size: 0.8em;
}

p,
li {
  font-family: Forza, "Forza Medium", "Forza-Medium";
  font-size: 0.8em;
}
.description > p {
  font-size: 1em;
}

pre,
code {
  font-family: "Fira Code", monospace;
}

hr {
  display: none;
  opacity: 0;
}

h1,
h2 {
  border: 0;
  text-decoration: none;
  text-shadow: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-family: "Knockout-51Middleweight", sans-serif;
  letter-spacing: 0.1rem;
}

h2,
h3,
h5 {
  font-family: "Tungsten-Semibold", sans-serif;
  font-size: 1.4em !important;
}

h4 {
  font-family: "Knockout-54Sumo", "Knockout 54 Sumo", "Knockout54Sumo";
  text-transform: uppercase;
  font-size: 1.2em !important;
}
h4 > strong {
  font-family: "VitesseBold", "Vitesse Bold", "Vitesse-Bold";
  text-transform: none;
  font-size: 0.9em !important;
}

img {
  width: 240px;
  display: block;
  margin: 0 auto;
  /* margin-bottom: 18rem; */
}
